brotli==1.2.0
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
cssselect2==0.8.0
EbookLib==0.20
fonttools==4.61.1
lxml==6.0.2
Markdown==3.10
pymdown-extensions==10.19.1
pyyaml==6.0.3
pdfminer.six==20251107
pdfplumber==0.11.8
pillow==12.0.0
pycparser==2.23
pydyf==0.12.1
pypdfium2==5.2.0
pyphen==0.17.2
six==1.17.0
tinycss2==1.5.1
tinyhtml5==2.0.0
watchdog==6.0.0
weasyprint==67.0
webencodings==0.5.1
zopfli==0.4.0
